<style>
    h2 {
        text-shadow: 1px 1px;
    }
    ol {
        background: #9dd7ff;
        padding: 20px;
    }

    ol li {
        background: #9cf8ff;
        padding: 5px;
        margin-left: 35px;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 80px;
    }
</style>
<div>
    <h2>生成的文件如下:</h2>
    <ol>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
    </ol>
</div>
