define([
    'jquery',
    'backbone',
    'base/models/baseModel'
], function($, Backbone, BaseModel) {
    'use strict';

    var {{functionName}}UpdateModel = BaseModel.extend({

        //修改后端接口与查询接口一致,使用PUT请求方式提交
        urlRoot: {{url}}+'/{{functionName}}',

        idAttribute : '{{index}}',
        labels: {
            {{#each columns}}
            '{{this.column_name}}' : '{{this.column_comment}}',
            {{/each}}
        }
    });
    return {{functionName}}UpdateModel;
});
